:root {
   --border-color: #dfdfdf;
}

* {
   font-family: "Roboto", "Helvetica", "Segoe UI", sans-serif !important;
}

body {
   background-color: #fbfbfe;
}

.form-control {
   border: 1px solid var(--border-color);
}

hr {
   border: 1px solid #9f9f9f;
}
