:root {
   --border-color: #dfdfdf;
}

* {
   font-family: "Roboto", "Helvetica", "Segoe UI", sans-serif !important;
}

body {
   background-color: #f4f4fa;
}

.form-control {
   border: 1px solid var(--border-color);
}

hr {
   border: 1px solid #9f9f9f;
}

.post-card {
   background-color: white;
   border-radius: 0.5em;
   box-shadow: 0px 3px 5px #0000003f;
}
